.boton {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #005a99;
}